<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <style>
           .centereddiv
            {
                position: absolute;
                width: 450px;
                height: 100px;
                top: 30%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
            
            .box{
                float: right;
                }
        </style>
    </head>
    
    <body>
         
        <div id="app" class="centereddiv">
          
            <h3 class="text-center">Bazar List</h3>
           
            <form @submit.prevent="addItem">
                <div class="form-group text-center">
                    <input type="text" class="form-control" v-model="newItem" id="name">
                    
                </div>
            </form>
            
               
            <div class="form-group ">
                
                <ul class="list-group ">
                 
                  <li class="list-group-item" v-for='(item, index) in items' :key="index"><button type="button" @click="removeItem(index)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button><label>{{ item.name }} </label>
                      <input type="text" class="box" v-model="item.price">
                  </li>
                   
                    <li class="list-group-item">Total <label class="box">
                        {{total}}</label></li>
                    
                </ul>
            
            </div>
           
       
        </div>
        
        
        <script>
            new Vue({
                
                el: '#app',
                data: {
                    items: [
                        { name: 'rice', price: 12.50 },
                        { name: 'wheat', price: 14.50},
                        { name: 'Oil', price: 15.50},
                        
                    ],
                    newItem: ''
                },
                computed:{
                    total(){
                        var total = 0
                        this.items.forEach(item =>{
                            total = total + parseFloat(item.price)
                        })
                        return total
                    }
                },
                methods: {
                    addItem(){
                        this.items.push({
                            name: this.newItem,
                            price: 0.0
                        })
                        this.newItem= ''
                    },
                    removeItem(index){
                        this.items.splice(index, 1)
                    }
                }
            })
        
        </script>
        
    </body>
</html>